---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

#docs, #post {
  margin-top: 100px;
  padding-bottom: 50px;
}

#blog {
  padding-bottom: 50px;
}

#home {
  /* Leave some room for the accordion to expand */
  padding-bottom: 120px !important;
  margin-top: 0px !important;
}

/* Masthead */
.masthead {
  overflow: hidden;
}

.masthead::before {
  content: "";
  background-image: url("/assets/main_bg.jpg") !important;
  background-size: cover;
  background-position: 75% 50%;
  display: block;
  height: 165px;

  -webkit-filter: blur(10px) brightness(90%);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  margin: 0px -20px;
}

.masthead.large::before {
  height: 600px;
}

_::-webkit-:not(:root:root), .masthead::before {
  // Hiding of left and right blur gradient causes strange artifacts on Safari 
  // (but it works on Chrome and Firefox while Edge will happily ignore the margins)
  margin: 0px 0px;
}

.masthead .content {
  position: absolute;
  left: 50%;
	top: 125px;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 1;
}

.masthead.large .content {
  top: 325px;
}

#blog .masthead {
  padding-bottom: 40px;
}

#home .masthead {
  padding-bottom: 20px;
}

@media only screen and (max-width: 767px) {
  #home .masthead .text {
    left: calc(50% - 15px);
  }
}

#home .masthead .text span {
  white-space: nowrap;
}


/* Home content */
#home .ui.demo.segment {
  margin-bottom: 50px !important;
}

#home .features .grid i {
  flex-shrink: 0;
  float: left;
  margin-right: 20px;
}

#home .features .grid .column {
  display: flex !important;
}

#home .features .grid {
  margin-top: 0px !important;
}

#home .features .grid .column > .segment {
  display: flex;
  align-items: center;
}

/* Blog content */

.meta.date {
	font-size: 0.90em !important;
}

#post img {
  max-width: 100%;
}

/* Docs content */
#docs #sidebar .vertical.menu {
  max-width: 100%;
}

#docs .ui.grid {
  margin: 0px !important;
}


/* Generic */
@media (max-height: 600px) {
  .main.menu .item.right {
    padding: 0px 10px !important;
  }
}

body {
  height: calc(100% - 100px) !important;
}

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;


/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "syntax-highlighting"
;
