<div class="ui horizontal list">
    <a class="ui twitter button item" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">
			<i class="twitter icon"></i>
			Tweet
		</a>
    <a class="ui facebook button item" href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">
			<i class="facebook icon"></i>
			Share
		</a>
    <a class="ui icon google plus button item" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+">
			<i class="google plus icon"></i>
		</a>
</div>